<!DOCTYPE html>
<html lang="fr">

<head>
    <link href="/static/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create event</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/home">Home</a>
                <a class="nav-item nav-link" href="/profile">Profile</a>
                <a class="nav-item nav-link" href="/signin">Signin</a>
                <a class="nav-item nav-link" href="/signup">Signup</a>
                <a class="nav-item nav-link" href="/signout">Signout</a>
            </div>
        </div>
    </nav>
    <div>
        <form action="/orga/create-event-form" method="POST">
            <div>
                <label for="eventname">Event name : </label>
                <input type="text" placeholder="eventname" name="eventname" access="false" id="eventname" required="required" aria-required="true">
            </div>
            <div>
                <label for="description">Event Description : </label>
                <input type="text" placeholder="description" name="description" access="false" id="description" required="required" aria-required="true">
            </div>
            <div>
                <label for="eventtype">Event type : </label>
                <input type="text" placeholder="evenType" name="eventtype" access="false" id="eventtype" required="required" aria-required="true">
            </div>
            <div>
                <label for="startdate">Starting date : </label>
                <input type="text" placeholder="startdate" name="startdate" access="false" id="startdate" required="required" aria-required="true">
            </div>
            <div>
                <label for="length">Event length : </label>
                <input type="text" placeholder="length" name="length" access="false" id="length" required="required" aria-required="true">
            </div>
            <input type="submit" value="submit" placeholder="Validation de l'event">
        </form>
        <div>{{error}}</div>
    </div>
</body>

</html>