<!doctype html>
<html lang="fr">

<head>
    <link href="/static/style.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>event details</title>
    <link rel="icon" href="/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/home">Home</a>
                <a class="nav-item nav-link" href="/profile">Profile</a>
                <a class="nav-item nav-link" href="/signin">Signin</a>
                <a class="nav-item nav-link" href="/signup">Signup</a>
                <a class="nav-item nav-link" href="/signout">Signout</a>
            </div>
        </div>
    </nav>
    <p>{{event.eventname}}</p>
    <p>{{event.description}}</p>
    <p>{{event.organizer}}</p>
    <p>{{event.type}}</p>
    <p>{{event.startDate}}</p>
    <p>{{event.length}} days</p>
    <p>{{event.note}}</p>
    {% if (user.type == "orga" or user.type == "admin") and (user.events[strId] == "creator") %}
    <ul>
        {%for user in subscribed%}
        <li>{{user.username}}
            <form action="/orga/delete-user-from-event-form/{{user.username}}/{{event.eventname}}" method="post">
                <input type="submit" value="remove" />
            </form>
        </li>

        {%endfor%}
    </ul>
    <button disabled="disabled" title="cant join an event you have created">Subscribe</button> {% else %} {% if strId in user.events.keys() %}
    <form action="/unregister-to-event/{{event.eventname}}" method="post">
        <input type="submit" value="Unsubscribe" />
    </form>
    {% else %}
    <form action="/register-to-event/{{event.eventname}}" method="post">
        <input type="submit" value="Subscribe" />
    </form>
    {% endif %} {% endif %}
    <form action="/event/rating/{{event.eventname}}" method="post">
        <input type="text" name="rating" id="rating" pattern="[0-9]">
        <input type="submit" value="Rate" />
    </form>



</body>

</html>