<!doctype html>
<html lang="fr">

<head>
    <link href="/static/style.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>user profile</title>
    <link rel="icon" href="/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/home">Home</a>
                <a class="nav-item nav-link" href="/profile">Profile</a>
                <a class="nav-item nav-link" href="/signin">Signin</a>
                <a class="nav-item nav-link" href="/signup">Signup</a>
                <a class="nav-item nav-link" href="/signout">Signout</a>
            </div>
        </div>
    </nav>
    <p>username : {{user.username}}</p>
    <p>email : {{user.email}}</p>
    <p>first name : {{user.firstName}}</p>
    <p>last name : {{user.lastName}}</p>
    <p>phone number : {{user.phoneNumber}}</p>
    <p>user type : {{user.type}}</p>
    <p>subscribed events :</p>
    {%if subscribed|length == 0%}
    <p>no subscribed event yet go to <a href="/home">home</a> to subscribe to some events</p>
    {%else%}
    <div class="eventTable">
        <table id="data" class="table table-striped">
            <thead>
                <th>Event Name</th>
                <th>Description</th>
                <th>Organizer</th>
                <th>Type</th>
                <th>Start date</th>
                <th>Lenght</th>
                <th>Last rating</th>
                <th>subscribe</th>
                <th></th>
            </thead>
            <tbody>
                {% for event in subscribed %}
                <tr>
                    <td>{{event.eventname}}</td>
                    <td>{{event.description}}</td>
                    <td>{{event.organizer}}</td>
                    <td>{{event.type}}</td>
                    <td>{{event.startDate}}</td>
                    <td>{{event.length}} days</td>
                    <td>{{event.note}}</td>
                    <td>
                        <a href="/event/{{event.eventname}}">
                            <input type="submit" value="Details" />
                        </a>
                    </td>
                    {%if event.organizer == user.username%}
                    <td>
                        <form action="/orga/delete-event-form/{{event.eventname}}" method="POST">
                            <input type="image" src="https://w7.pngwing.com/pngs/748/768/png-transparent-computer-icons-html-waste-bin-white-rectangle-logo.png" style="width: 5%;height: 5%;" alt="Remove Event" />
                        </form>
                    </td>
                    {%endif%}
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    <script>
        $(document).ready(function() {
            $('#data').DataTable();
        });
    </script>
    {%endif%} {% if user.type == "admin"%}
    <a href="/admin">
        <input type="submit" value="Go to admin panel" />
    </a>
    <a href="/orga">
        <input type="submit" value="Go to organizer panel" />
    </a>
    {%endif%} {% if user.type == "orga"%}
    <a href="/orga">
        <input type="submit" value="Go to organizer panel" />
    </a>
    {%endif%}

</body>

</html>