<!DOCTYPE html>
<html lang="fr">

<head>
    <link href="/static/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/home">Home</a>
                <a class="nav-item nav-link" href="/profile">Profile</a>
                <a class="nav-item nav-link" href="/signin">Signin</a>
                <a class="nav-item nav-link" href="/signup">Signup</a>
                <a class="nav-item nav-link" href="/signout">Signout</a>
            </div>
        </div>
    </nav>
    <div>
        <form action="/signup-form" method="POST">
            <div>
                <label for="username">username</label>
                <input type="text" placeholder="username" name="username" access="false" id="username" required="required" aria-required="true">
            </div>
            <div>
                <label for="password">password</label>
                <input type="password" placeholder="password" name="password" access="false" id="password" required="required" aria-required="true">
            </div>
            <div>
                <label for="email">email</label>
                <input type="email" placeholder="email" name="email" access="false" id="email" required="required" aria-required="true">
            </div>
            <div>
                <label for="firstName">first name</label>
                <input type="text" placeholder="first name" name="firstName" access="false" id="firstName" required="required" aria-required="true">
            </div>
            <div>
                <label for="lastName">last name</label>
                <input type="text" placeholder="last name" name="lastName" access="false" id="lastName" required="required" aria-required="true">
            </div>
            <div>
                <label for="phoneNumber">phone number</label>
                <input type="text" placeholder="phone number" name="phoneNumber" access="false" id="phoneNumber" required="required" aria-required="true">
            </div>
            <input type="submit" value="submit">
        </form>
        <div>{{error}}</div>
    </div>
</body>

</html>